VITE_TENDER_LOGIN_URL=http://221.226.15.10:48089/tenderWriting/home
VITE_BID_LOGIN_URL=http://36.155.142.138:38089/bidWriting/home
VITE_CONTACT_URL=
VITE_DEMO_URL=
VITE_FEEDBACK_URL=
VITE_HERO_VIDEO_URL=
VITE_HERO_POSTER_URL=
